{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <p>Bienvenue dans le cours Symfony</p>

    <ul>
        <li><a href="{{ path("app_bienvenue_personne", {nom:'Liam'}) }}">Liam</a></li>
        <li><a href="{{ path("app_bienvenue_personne", {nom:'Paul'}) }}">Paul</a></li>
        <li><a href="{{ path("app_bienvenue_personne", {nom:'Axelle'}) }}">Axelle</a></li>
    </ul>
{% endblock %}
