{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-primary me-3">Liste des catégories</h2>
    </div>

    <ol class="list-group mb-3">
        {% for categorie in categories %}
            <a class="list-group-item d-flex justify-content-between align-items-start" href="{{ path('app_categorie_slug', {'slug': categorie.slug}) }}">
                <div class="ms-2 me-auto">
                    {{ categorie.titre }}
                </div>
                <span class="badge bg-primary rounded-pill">Nombre d'articles : {{ categorie.articles.count }}</span>
            </a>
        {% endfor %}
    </ol>
{% endblock %}
